# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
